
/* Général */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #f1f1f1;
}


.NewGame{
    
        border: 1px solid black;    
}

.cardScore{
    margin-left: auto;      
    margin-right: auto;
    width: 10rem;
}

.rowPrincipal{
    height: 40rem;
}

.hauteurPlayer{
    height: 10rem;
}
.hauteurScore{
    height: 5rem;
}