
/* Général */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #f1f1f1;
}


.NewGame{
        border: 1px solid black;    
        width: 1000px; 
        max-width: 1000px; 
      margin-top: 50px;
}

.saveScore{
    width: 18rem;
    margin-left: auto;     
    margin-right: auto;
}
.widthRowPlayer{
    width: 1000px;
}

.cardScore{
    padding-top: 20px;
    margin-left: auto;      
    margin-right: auto;
    width: 10rem;
}
.responsiveLetter{
    font-size: 29px; 
}
.cardPlayer{
    padding-top: 20px;
    margin-bottom: 1rem;
    margin-left: auto;      
    margin-right: auto;
    width: 300px;
}
.cardNewGame{
    padding: 10px;
    margin-left: auto;      
    margin-right: auto;
    width: 18rem;

}

/* .rowPrincipal{
    height: 50rem;
} */

/* .hauteurPlayer{
    height: 7rem;
} */
.hauteurScore{
  
    height: 5rem;
}


 .playGamePlayer2{
    display: none;
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

.playGamePlayer1  {
    display: none;
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
 }
 @keyframes clignoter {
   0%   { opacity:1; }
   40%   {opacity:0; }
   100% { opacity:1; }
 }
 #animeDice{
    display: none;
    height:20rem ;
 }

 #staticDice{
    
    
    height:10rem ;
 }

 #newGameDivMobile{
    width: 250px;
 }
 #playMobile{
    width: 200px;
 }
 #saveMobile{
    width: 200px;
 }
 .RowButtonMobile{
    display: none;
}
.rowAnimeAndPictureDice{
  
    display: none;
}
#animeDiceMobile{
    display: none;
}
#staticDiceMobile{
    width: 100px;
}
.colPlayerMobile{
  
    display: none; 
}

.cardPlayerMobile{
    padding-top: 20px;
    margin-bottom: 1rem;
    margin-left: auto;      
    margin-right: auto;
    width: 600px;
}
 @media screen and (max-width: 768px) {

        /* .mobileDisplayNoneButton{
            display: none;
        } */

        /* .mobileDisplayNonePlayer{
            display: none;
        } */

        .widthRowPlayer{
            display: none;
        }
       
        .RowButtonMobile{
            display: block;
        }
    
        .rowAnimeAndPictureDice{
            display: block;
        }
        .colPlayerMobile{
            display: block; 
        }

 }