
/* Général */
body {
    margin: 0;
    padding: 0;
    height: 400vh;
    background: #f1f1f1;
}


.NewGame{
   border: 1px solid black;    
   margin-top: 50px;
}

/* .saveScore{
    width: 18rem;
    margin-left: auto;     
    margin-right: auto;
} */


.cardScore{
    padding-top: 20px;
    margin-left: auto;      
    margin-right: auto;
    width: 10rem;
}

.responsiveLetter{
    font-size: 29px; 
}
.cardPlayer{
    padding-top: 20px;
    margin-bottom: 1rem;
    margin-left: auto;      
    margin-right: auto;
    width: 300px;
}
.cardNewGame{
    padding: 10px;
    margin-left: auto;      
    margin-right: auto;
    width: 18rem;

}


.hauteurScore{ 
    height: 5rem;
}


 .playGamePlayer2{
    display: none;
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

.playGamePlayer1  {
    display: none;
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
 }
 @keyframes clignoter {
   0%   { opacity:1; }
   40%   {opacity:0; }
   100% { opacity:1; }
 }
 #animeDice{
    display: none;
    height:20rem ;
 }

 #staticDice{
    
    height:10rem ;
 }

 /* Mobile */

 #newGameDivMobile{
    width: 90px;
 }
 #playMobile{
    width: 90px;
 }
 #saveMobile{
    width: 90px;
 }
 .RowButtonMobile{
    display: none;
}
.rowAnimeAndPictureDice{
  
    display: none;
}
#animeDiceMobile{
    display: none;
}
#staticDiceMobile{
    width: 100px;
}
.colPlayerMobile{
  
    display: none; 
}

.cardPlayerMobile{
    padding-top: 20px;
    margin-bottom: 1rem;
    margin-left: auto;      
    margin-right: auto;
    z-index: 1;
}

.winGame{
    display: none;
    position: absolute; /* postulat de départ */
    top: 50%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%);
    z-index: 1000;
}

@media screen and (max-width: 991px) {

   
    .RowButtonMobile{
        display: block;
    }

    .rowAnimeAndPictureDice{
        display: block;
    }
    .colPlayerMobile{

        display: block; 
    }
    .widthRowPlayer{
        display: none;
    }
 

}
 @media screen and (max-width: 768px) {

    .cardPlayerMobile{
        width: 300px;
    }

 }
